# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment secrets
.env
.env.*

# Build output
dist/
build/
out/
target/
bin/
obj/
